    <footer class="bg-blackLight text-white pt-14 text-sm">
         <div class="container max-w-screen-2xl mx-auto px-4 2xl:px-0 flex flex-wrap">
            <div class="w-full lg:w-1/5 px-4 mb-8 lg:mb-0">
                <img src="../images/logo.png">
                <p class="text-sm mt-5 leading-6">Unit 2, Albourne Court, Henfield Road, Albourne, West Sussex, BN6 9FF, BRIGHTON, UK</p>
             </div>
             <div class="w-1/2 lg:w-1/5 px-4 mb-8 lg:mb-0">
                 <h4 class="text-base font-medium">Company</h4>
                 <ul>
                     <li class="mt-3"><a href="#">About Us</a></li>
                     <li class="mt-3"><a href="#">Features</a></li>
                     <li class="mt-3"><a href="#">Design</a></li>
                 </ul>
             </div>
             <div class="w-1/2 lg:w-1/5 px-4 mb-8 lg:mb-0">
                 <h4 class="text-base font-medium">Useful Links</h4>
                 <ul>
                     <li class="mt-3"><a href="#">Gallery</a></li>
                     <li class="mt-3"><a href="#">Color</a></li>
                     <li class="mt-3"><a href="#">Quick Order</a></li>
                 </ul>
             </div>
             <div class="w-1/2 lg:w-1/5 px-4">
                 <h4 class="text-base font-medium">Follow Us</h4>
                 <ul>
                     <li class="mt-3"><a href="#">Facebook</a></li>
                     <li class="mt-3"><a href="#">Twitter</a></li>
                     <li class="mt-3"><a href="#">Instagram</a></li>
                 </ul>
             </div>
             <div class="w-full sm:w-1/2 lg:w-1/5 px-4 mt-8 md:mt-0">
                 <h4 class="text-base font-medium">Newsletter Signup</h4>
                 <p class="mt-3">Sign up for the latest news & offers.</p>
                 <form class="mt-5 relative">
                    <input type="email" placeholder="Your email address" class="bg-white border-none w-full py-3 pl-4 pr-10 leading-6 focus:outline-none text-blackLight">
                    <button class="absolute top-0 right-0 py-3 px-4 leading-6 text-blackLight focus:outline-none"><i class="fal fa-envelope"></i></button>
                 </form>

             </div>
             <div class="w-full mt-16 px-4 text-center">
                 <p class="border-t border-white border-opacity-30 py-8">© 2021 Dotsquares is proudly powered by Dotsquares.</p>
             </div>
         </div>
    </footer>

