<div class="relative overflow-hidden">
	<img class="max-w-full w-full h-full absolute top-0 left-0 object-cover object-center" src="../images/fitness-about-bg.jpg">
	<div class="max-w-screen-2xl mx-auto relative z-10">
		<div class="w-full sm:w-1/2 text-white bg-brown max-w-lg md:ml-28 p-8 lg:p-16">
			<h2 class="text-2xl sm:text-3xl lg:text-4xl mb-4 leading-9 lg:leading-10 font-medium">Designed for Sound. Tuned for Emotion.</h2>
			<h4 class="text-lg mb-6 leading-7">The award-winning sound and design you’ve come to love from doom.</h4>
			<p class="text-sm leading-6">This headphone delivers premium playback with fine-tuned acoustics that maximize clarity, breadth, and balance. The comfort-cushion ear cups buffer outside noise for immersive sound so you can experience music the way it was meant to be heard.</p>
		</div>
	</div>
</div>
<div class="w-full py-10 md:py-20">
	<img class="max-w-full mx-auto" src="../images/banner-2.png">
</div>