<div class="w-full mx-auto flex flex-wrap items-center bg-aqua text-blackLight relative">
	<div class="w-full lg:w-1/2 px-10 2xl:px-20 py-16">
		<div class="flex mb-10 lg:max-w-md mx-auto">
			<span class="text-4xl mb-4 leading-10 font-medium w-12 min-w-min">01.</span>
			<div class="ml-4">
				<h3 class="text-2xl font-medium leading-8 mb-2">The best sound.</h3>
				<p class="text-sm leading-6">Put it on repeat and stay unplugged all day thanks to up to 40 hours of battery life. You can keep track of the battery with the illuminated LED fuel gauge located on the headphone itself.</p>
			</div>
		</div>
		<div class="flex mb-10 lg:max-w-md mx-auto">
			<span class="text-4xl mb-4 leading-10 font-medium w-12 min-w-min">02.</span>
			<div class="ml-4">
				<h3 class="text-2xl font-medium leading-8 mb-2">Unbelievable doom.</h3>
				<p class="text-sm leading-6">This headphone delivers premium playback with fine-tuned acoustics that maximize clarity, breadth, and balance. The comfort-cushion ear cups buffer outside noise for immersive sound.</p>
			</div>
		</div>
		<div class="flex lg:max-w-md mx-auto">
			<span class="text-4xl mb-4 leading-10 font-medium w-12 min-w-min">03.</span>
			<div class="ml-4">
				<h3 class="text-2xl font-medium leading-8 mb-2">Drop the bass.</h3>
				<p class="text-sm leading-6">The ultimate staple in your headphone closet, Plattan offers a rich, secluded sound experience, and convenient extras that make life easier. Features a fabric headband, tangle-free cable, built-in mic/remote.</p>
			</div>
		</div>
	</div>
	<div class="w-full lg:w-1/2 lg:pl-4 lg:absolute top-0 right-0 bottom-0">
		<img class="w-full max-w-full h-full object-cover object-center" src="../images/hero-bg38.jpg">
	</div>
</div>