<div class="w-full max-w-screen-2xl px-4 2xl:px-0  mx-auto flex flex-wrap items-center py-10 md:py-20" id="about">
	<div class="w-full md:w-1/2 px-4 text-blackLight">
		<h2 class="text-2xl sm:text-3xl lg:text-4xl mb-4 leading-9 lg:leading-10 font-medium max-w-lg">The best product on the market, just for you.</h2>
		<h4 class="text-lg mb-6 text-gray leading-7 max-w-lg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries.</h4>
		<p class="text-gray text-sm leading-6 max-w-lg">Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type scrambled.</p>
		<a href="#" class="border border-aqua bg-transparent text-aqua px-7 py-2 rounded-full uppercase text-xs font-semibold leading-5 inline-block hover:opacity-80 mt-10">Contiune Reading <i class="far fa-long-arrow-alt-right ml-2"></i></a>
	</div>
	<div class="w-full md:w-1/2 px-4 mt-5 md:mt-0">
		<img class="w-full max-w-full" src="../images/content-50.png">
	</div>
</div>